/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
    display: flex;
            flex-flow: column;
}

body {
  padding-top: 60px;
    display: flex;
            flex-flow: column;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

#map {
            height: 100%;
        }

        /* The location pointed to by the popup tip. */
        .popup-tip-anchor {
            height: 0;
            position: absolute;
            /* The max width of the info window. */
            width: 200px;
        }

        /* The bubble is anchored above the tip. */
        .popup-bubble-anchor {
            position: absolute;
            width: 100%;
            bottom:
                /* TIP_HEIGHT= */
                8px;
            left: 0;
        }

        /* Draw the tip. */
        .popup-bubble-anchor::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            /* Center the tip horizontally. */
            transform: translate(-50%, 0);
            /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
            width: 0;
            height: 0;
            /* The tip is 8px high, and 12px wide. */
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top:
                /* TIP_HEIGHT= */
                8px solid white;
        }

        /* The popup bubble itself. */
        .popup-bubble-content {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -100%);
            /* Style the info window. */
            font-size: 12px;
            background-color: white;
            padding: 5px;
            border-radius: 5px;
            font-family: sans-serif;
            overflow-y: auto;
            max-height: 300px;
            max-width:300px;
            box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
        }

