{% extends "layout.html" %}

{% block content %}
<div id="chart_div"></div>
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
        <p class="lead">All our analytic data should go here</p>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Client ID for OAuth 2.0 authorization against BigQuery.
    var clientId = '232842471431-fhnng6i16ui8adjrvs400ei3foh7aidt.apps.googleusercontent.com';
    // BigQuery settings. Replace these with your project, dataset and table names.
    var billingProjectId = 'abgcorp-vicsafe';
    var publicProjectId = 'bigquery-public-data';
    var datasetId = 'tweet_hashtag';
    var tableName = 'metoo';
    var scopes = 'https://www.googleapis.com/auth/bigquery';
    var projectId = 'abgcorp-vicsafe';
    var jobId = 'abgcorp-vicsafe:US.bquxjob_7f39d649_16893d20ab4';
    // Limit the number of records that a query will return.    var recordLimit = 10000;
    var recordLimit = 10000;
    var jobCheckTimer;
    
    document.getElementById("hashtagDrop").addEventListener("change", hashtagSelector, false);

        function hashtagSelector(e) {
            var hashtag = e.target.value;
            if (hashtag == "#MeToo") {
                jobId = 'abgcorp-vicsafe:US.bquxjob_7f39d649_16893d20ab4';
                tableName = 'bigger_metoo';


            } else {
                jobId = 'abgcorp-vicsafe:US.bquxjob_46fb8942_168adf83d17';
                tableName = 'ImpeachTrump';
            }
            initMap();
        }
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });

    // Check if the user is authorized.
    function authorize(event) {
        gapi.auth.authorize({
            client_id: clientId,
            scope: scopes,
            immediate: false
        }, handleAuthResult);
        return false;
    }

    // If authorized, load BigQuery API
    function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
            loadApi();
        } else {
            console.log(authResult)
            console.error('Not authorized.')
        }
    }

    // Load BigQuery client API and then initialize the map.
    function loadApi() {
        gapi.client.load('bigquery', 'v2').then(
            function() {
                sendQuery("SELECT tweet_id, favourites from tweet_hashtag.annes_time_set GROUP BY tweet_id,favourites ORDER BY favourites DESC LIMIT 10");
                 sendQuery("SELECT longitude , latitude, tweet_id from tweet_hashtag." + tableName);
            }
        );
    }

    // Send a query to BigQuery using the Google Client API for JavaScript.
    function sendQuery(queryString) {
        var request = gapi.client.bigquery.jobs.query({
            'query': queryString,
            'timeoutMs': 30000,
            'datasetId': datasetId,
            'projectId': billingProjectId,
            'useLegacySql': false,
            'jobId': 'abgcorp-vicsafe:US.bquxjob_7f39d649_16893d20ab4'
        });
        request.execute(function(response) {
            console.log("shenma")
            console.log(response)
            checkJobStatus(response.jobReference.jobId);
        });
    }

    // Poll a job to see if it has finished executing.
    function checkJobStatus(jobId) {
        var request = gapi.client.bigquery.jobs.get({
            'projectId': billingProjectId,
            'jobId': jobId
        });
        request.execute(function(response) {
            if (response.status.errorResult) {
                // Handle any errors
                console.log(response.status.error);
            } else {
                if (response.status.state == 'DONE') {
                    // Get the results
                    clearTimeout(jobCheckTimer);
                    getQueryResults(jobId);
                } else {
                    // Not finished, check again in a moment
                    jobCheckTimer = setTimeout(checkJobStatus, 500, [jobId]);
                }
            }
        });
    }

    // When a BigQuery job has completed, fetch the results.
    function getQueryResults(jobId) {
        var request = gapi.client.bigquery.jobs.getQueryResults({
            'projectId': billingProjectId,
            'jobId': jobId
        });
        request.execute(function(response) {
            topTweets(response.result.rows);
        })
    }
    var tweetID = [];
    var tweetFavs = [];

    // Show query results.
    function topTweets(rows) {

        for (var i = 0; i < rows.length; i++) {
            var f = rows[i].f;
            tweetID.push(f[0].v);
            tweetFavs.push(parseInt(f[1].v));
        }
        drawMultSeries();
    }


    function drawMultSeries() {

        var data = google.visualization.arrayToDataTable([
            ['id', 'favourites', { role: 'style' }],
            [tweetID[0], tweetFavs[0], '#00aced'],

        ]);
        for (var i = 1; i < tweetID.length; i++)
            data.addRows([
                [tweetID[i], tweetFavs[i]]
            ])
        var options = {
            title: 'most liked tweets',
            chartArea: {
                width: '50%'
            },
            hAxis: {
                title: 'likes amount',
                minValue: 0
            },
            vAxis: {
                title: 'tweet id'
            }
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

</script>
<script src="https://apis.google.com/js/client.js"></script>
<script type="text/javascript">
    gapi.load('client:auth', authorize);
</script>
{% endblock %}
