{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Analytical Data</h1>
    <div class="row">
    </div>
    <br>
</div>
<div class="wrapOver">
    <select id="hashtagDrop">
        <option value="#MeToo">#MeToo</option>
        <option value="#ImpeachTrump">#ImpeachTrump</option>
    </select>
</div>
<div id="dashboard">
    <div id="barchart_div"></div>
    <br>
    <container id="twitterContainer" class="row">


    </container>
    <br>
    <div id="chart_div"></div>
    <div id="range_filter_div"></div>
</div>
<br>
<div class="loading">
    <div class="lds-ripple">

        <div></div>
        <div></div>

    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    // Client ID for OAuth 2.0 authorization against BigQuery.
    var clientId = '232842471431-fhnng6i16ui8adjrvs400ei3foh7aidt.apps.googleusercontent.com';
    // BigQuery settings. Replace these with your project, dataset and table names.
    var billingProjectId = 'abgcorp-vicsafe';
    var publicProjectId = 'bigquery-public-data';
    var datasetId = 'tweet_hashtag';
    var tableName = 'annes_time_set';
    var tableName2 = "MeTooDate";
    var scopes = 'https://www.googleapis.com/auth/bigquery';
    var projectId = 'abgcorp-vicsafe';
    var jobId = 'abgcorp-vicsafe:US.bquxjob_7f39d649_16893d20ab4';
    var jobId2 = "abgcorp-vicsafe:US.bquxjob_79403ccc_168b2419f3e";
    // Limit the number of records that a query will return.    var recordLimit = 10000;
    var recordLimit = 10000;
    var jobCheckTimer;
    var tweetID = [];
    var tweetFavs = [];
    var loading = false;
    var tempStorage = [];

    //set loading to true 
    function getloading(status) {
        const load = document.querySelector('.loading');
        if (status == false) {
            load.style.display = "none";
        } else {
            load.style.display = "block"
        }
    }

    document.getElementById("hashtagDrop").addEventListener("change", hashtagSelector, false);
    function hashtagSelector(e) {
        var hashtag = e.target.value;
        if (hashtag == "#MeToo") {
            tableName = 'annes_time_set';
            tableName2 = "MeTooDate";
        }
        else if (hashtag == "#ImpeachTrump") {
            tableName = 'ImpeachTrump';
            tableName2 = "ImpeachTrumpDate"
        }
        //Clearing out top 5 tweets
        for (var i = 0; i < 5; i++) {
            var element = document.getElementById("tweet" + i);
            element.parentNode.removeChild(element);
        }
        //Preparing variables for new table
        tweetID = [];
        tweetFavs = [];
        tempStorage = [];
        loadApi();
    }
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });

    // Check if the user is authorized.
    function authorize(event) {
        gapi.auth.authorize({
            client_id: clientId,
            scope: scopes,
            immediate: false
        }, handleAuthResult);
        return false;
    }

    // If authorized, load BigQuery API
    function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
            loadApi();
        } else {
            console.log(authResult)
            console.error('Not authorized.')
        }
    }
    // Load BigQuery client API and then initialize the map.
    function loadApi() {
        gapi.client.load('bigquery', 'v2').then(
            function () {
                sendQuery("SELECT tweet_id, favourites from tweet_hashtag." + tableName + " GROUP BY tweet_id,favourites ORDER BY favourites DESC LIMIT 5");
                sendQuery2("SELECT year,month,dayNum, CAST(time AS INT64) as time, Count(*) as frequency FROM tweet_hashtag." + tableName2 + " GROUP BY year,month,dayNum,time ORDER BY year DESC, month DESC, daynum DESC, time DESC");
                loading = true;
                getloading(loading);

            }
        );
    }

    // Send a query to BigQuery using the Google Client API for JavaScript.
    function sendQuery(queryString) {
        var request = gapi.client.bigquery.jobs.query({
            'query': queryString,
            'timeoutMs': 30000,
            'datasetId': datasetId,
            'projectId': billingProjectId,
            'useLegacySql': false,
            'jobId': 'abgcorp-vicsafe:US.bquxjob_7f39d649_16893d20ab4'
        });
        request.execute(function (response) {
            console.log(response)
            checkJobStatus(response.jobReference.jobId);
        });
    }

    function sendQuery2(queryString) {
        var request = gapi.client.bigquery.jobs.query({
            'query': queryString,
            'timeoutMs': 30000,
            'datasetId': datasetId,
            'projectId': billingProjectId,
            'useLegacySql': false,
            'jobId': 'abgcorp-vicsafe:US.bquxjob_79403ccc_168b2419f3e'
        });
        request.execute(function (response) {
            console.log(response)
            checkJobStatus2(response.jobReference.jobId);
        });
    }

    // Checking to see if it has finished executing.
    function checkJobStatus(jobId) {
        var request = gapi.client.bigquery.jobs.get({
            'projectId': billingProjectId,
            'jobId': jobId
        });
        request.execute(function (response) {
            if (response.status.errorResult) {
                // Handle any errors
                console.log(response.status.error);
            } else {
                if (response.status.state == 'DONE') {
                    // Get the results
                    clearTimeout(jobCheckTimer);
                    getQueryResults(jobId);
                } else {
                    // Not finished, check again in a moment
                    jobCheckTimer = setTimeout(checkJobStatus, 500, [jobId]);
                }
            }
        });
    }

    function checkJobStatus2(jobId) {
        var request = gapi.client.bigquery.jobs.get({
            'projectId': billingProjectId,
            'jobId': jobId
        });
        request.execute(function (response) {
            if (response.status.errorResult) {
                // Handle any errors
                console.log(response.status.error);
            } else {
                if (response.status.state == 'DONE') {
                    // Get the results
                    clearTimeout(jobCheckTimer);
                    getQueryResults2(jobId);
                } else {
                    // Not finished, check again in a moment
                    jobCheckTimer = setTimeout(checkJobStatus, 500, [jobId]);
                }
            }
        });
    }


    // When a BigQuery job has completed, fetch the results.
    function getQueryResults(jobId) {
        var request = gapi.client.bigquery.jobs.getQueryResults({
            'projectId': billingProjectId,
            'jobId': jobId
        });
        request.execute(function (response) {
            topTweets(response.result.rows);
        })
    }

    function getQueryResults2(jobId) {
        var request = gapi.client.bigquery.jobs.getQueryResults({
            'projectId': billingProjectId,
            'jobId': jobId
        });
        request.execute(function (response) {
            tempStorage = response.result.rows;
            drawChart();



        })
    }



    // Show query results.
    function topTweets(rows) {

        for (var i = 0; i < rows.length; i++) {
            var f = rows[i].f;
            tweetID.push(f[0].v);
            tweetFavs.push(parseInt(f[1].v));
        }
        drawMultSeries();
    }

    function drawMultSeries() {

        //adds data for first tweet to set required datatypes
        var data = google.visualization.arrayToDataTable([
            ['id', 'Favourites', { role: 'style' }],
            ["Tweet 1", tweetFavs[0], '#00aced'],

        ]);
        
        for (var i = 1; i < tweetID.length; i++) {
            data.addRows([
                ["Tweet " + (i + 1), tweetFavs[i], '#00aced']
            ])      
        }

        //shows the top 5 tweets
        for (var i = 0; i < tweetID.length; i++) {
            // create a new div element 
            var tweetBreak = document.createElement("br");
            var tweetDiv = document.createElement("div");
            var tweetTitle = document.createTextNode("Tweet " + (i + 1) + ":");
            var newTweet = document.createElement("iframe");

            tweetDiv.appendChild(tweetTitle);
            tweetDiv.appendChild(tweetBreak);

            tweetDiv.setAttribute("width", "40%");
            tweetDiv.setAttribute("class", "col mx-auto");
            tweetDiv.style = "max-width: 450px;min-width:300px;width:40%;";

            newTweet.setAttribute("src", "https://twitframe.com/show?url=https%3A%2F%2Ftwitter.com%2Fabgcorp%2Fstatus%2F" + tweetID[i]);
            newTweet.setAttribute("height", "500");
            tweetDiv.setAttribute("id", "tweet" + i);
            newTweet.style = "max-width: 450px;width:100%;";

            // add the newly created element and its content into the DOM 
            tweetDiv.appendChild(newTweet);
            document.getElementById("twitterContainer").appendChild(tweetDiv);
        }
        var options = {
            title: 'Most Liked Tweets',
            titleTextStyle: {
                italic: false,
                color: 'black',
                fontSize: 30,
            },
            chartArea: {
                width: '50%'
            },
            hAxis: {
                title: 'Likes Amount',
                minValue: 0
            },
            vAxis: {
                title: 'Tweet ID',
                textStyle: {
                    fontSize: 10 // or the number you want
                }
            }
        };
        var chart = new google.visualization.BarChart(document.getElementById('barchart_div'));
        chart.draw(data, options);
        loading = false;
        getloading(loading);
    }

    //Line graph for how many tweets sent out every hour
    google.load('visualization', '1', { packages: ['controls'] });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Date');
        data.addColumn('number', ' ');

        var testStorage = []

        for (i = 0; i < tempStorage.length; i++) {
            var item = tempStorage[i];

            testStorage.push([new Date(item.f[0].v, item.f[1].v - 1, item.f[2].v, item.f[3].v, null, null), parseInt(item.f[4].v)])
        }

        data.addRows(testStorage);

        var dateFormat = new google.visualization.DateFormat({ pattern: 'EEE d, hh a' });
        dateFormat.format(data, 0);

        var rangeFilter = new google.visualization.ControlWrapper({
            controlType: 'ChartRangeFilter',
            containerId: 'range_filter_div',
            options: {
                filterColumnIndex: 0,
                ui: {
                    chartOptions: {
                        height: 50,
                        width: "80%", // must be the same in both the chart and the control
                        chartArea: {
                            width: 1000 // must be the same in both the chart and the control
                        },
                        hAxis: {
                            format: 'EEE d, hh a'
                        }
                    },
                    chartView: {
                        columns: [0, 1]
                    }
                }
            },
            state: {
                range: {
                    start: new Date(2019, 0, 28, 6, null, null),
                    end: new Date(2019, 1, 1, 23, null, null)
                }
            }
        });

        var chart = new google.visualization.ChartWrapper({
            chartType: 'LineChart',
            containerId: 'chart_div',
            options: {
                title: 'Frequency Of Tweets Sent Out Every Hour',
                titleTextStyle: {
                    italic: false,
                    color: 'black',
                    fontSize: 30,
                },
                // width and chartArea.width should be the same for the filter and chart
                chartArea: {
                    width: '70%', // must be the same in both the chart and the control
                    height: '50%'
                },
                width: "80%", // must be the same in both the chart and the control
                height: 300,
                fontName: ["Arial"],
                colors: ['#29ab87'],
                curveType: ['none'],
                fontSize: ['13'],
                hAxis: {
                    title: 'Time (Hours) & Date',
                    titleTextStyle: {
                        italic: false,
                        color: 'black',
                        fontSize: 15
                    },
                    format: 'EEE d, hh a'
                },
                vAxis: {
                    title: 'Frequency',
                    titleTextStyle: {
                        italic: false,
                        color: 'black',
                        fontSize: 15
                    },
                },
                legend: {
                    position: 'right',
                    textStyle: {
                        color: 'black',
                        fontSize: 12
                    }
                },
                lineWidth: 2,
                pointSize: 7,
                tooltip: {
                    textStyle: {
                        color: 'Black'
                    },
                    showColorCode: false
                }
            }
        });

        // Create the dashboard
        var dash = new google.visualization.Dashboard(document.getElementById('dashboard'));
        // bind the chart to the filter
        dash.bind([rangeFilter], [chart]);
        // draw the dashboard
        dash.draw(data);
    }

</script>
<script src="https://apis.google.com/js/client.js"></script>
<script type="text/javascript">
    gapi.load('client:auth', authorize);
</script>
{% endblock %}