
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
   
   
                       
                <div id="map"></div>
                
<div id="map" class="container-fluid map"></div>
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: -37.814,
                    lng: 144.963
                },
                zoom: 9.4
            });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhXaTLKM2SpOBuFr8qSEmU7eYH5vpLpa8&callback=initMap" async defer></script>
            <div class="col-sm-2 sidenav"></div>
  
{% endblock %}

